body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}


/*header*/

.header {
    background-color: white;
    height: 85px;
    width: 1903px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header h2,
h1 {
    display: inline-block;

}

.header h1 {
    position: absolute;
    margin-top: 12.44;
}

.logo2 {
    width: 82px;
    height: 64px;
    margin-left: 82px;
    margin-top: 10;
    display: inline-block;
}

.content {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 425px;
    width: 1903px;
    margin: auto;
    margin-bottom: 5px;
}


/*section*/

.search {
    margin-left: 75px;
    width: 240px;
}

.search input {
    background-color: #fff;
    width: 180px;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-img {
    width: 22px;
    height: 22px;
    margin-bottom: -8;
    position: absolute;
    left: 576.5;
    width: 16px;
    height: 16px;
    bottom: -50;
}

.add-img{
    height: 30px;
    width: 30px;
}

.search-filter {
    width: 22px;
    height: 22px;
    left: 425px;
    position: absolute;
    
}

.fil p{
    margin-left: 100px;
}
.fil{
    margin-left: 100px;
    text-decoration: none;

}

.add_button{
    position: absolute;
    bottom: -60;
    left: 1325px;
    border-radius: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
}


.section {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 280px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section h2 {
    text-align: center;
    margin-bottom: 26;
    font-size: 50px;
    
}

.section-header {
    padding-top: 50px;

    margin-bottom: 24px;
}


/*cards*/

.section-cards {
    margin-top: 25px;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
    margin: auto;
}

.column {
    float: left;
    width: 340px;
    padding: 10px 10px;
}

.row {
    margin: 0 -5px;
}

.text {
    color: black;
    background-color: white;
    margin-top: 100px;
    margin-left: -15;
    width: 331px;
    height: 115.391;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section_A {
    background-color: #799FCB;
}

.section_B {
    background-color: #FEC9C9;
}

.section_C {
    background-color: #D4EBD4;
}

.section_D {
    background-color: #E0CAED;
}
.setting-icon{
    height: 30px;
    margin-left: 85%;
    margin-top: -9%;
}
    .footer {
    background-color: white;
    height: 150px;
    width: 1903px;
    margin-top: 40%;
    padding: 0;
    display: inline-block;
}

.footer h2,
h1 {
    display: inline-block;
}

.footer h1 {
    position: absolute;
    margin-top: 12.44;
}

.footerText {
    color: gray;
}

.additional {
    text-align: center;
    font-size: 20px;
    color: gray;
}

object {
    float: right;
    margin: 12.44;
    width: 48px;
    height: 48px;
}