body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}


/*header*/

.header {
    background-color: white;
    height: 85px;
    width: 1903px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header h2,
h1 {
    display: inline-block;
}

.header h1 {
    position: absolute;
    margin-top: 12.44;
}

.logo2 {
    width: 82px;
    height: 64px;
    margin-left: 82px;
    margin-top: 10;
    display: inline-block;
}

.menu {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 18px;
    float: right;
}

.content {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 425px;
    width: 1903px;
    margin: auto;
    margin-bottom: 5px;
}


/*section*/

.search {
    margin-left: 75px;
    width: 240px;
}

.search input {
    background-color: #fff;
    width: 220px;
    height: 40px;
    padding: 2px 24px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}

.search input[type=text] {
    width: 70%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

.search input[type=text]:focus {
    width: 400px;
}

.search-img {
    width: 24px;
    height: 24px;
    margin-bottom: -8;
    position: absolute;
    left: 432;
    width: 18px;
    height: 18px;
    bottom: -50;
    top: 459px;
}

.add-img {
    height: 30px;
    width: 30px;
}

.search-filter {
    width: 22px;
    height: 22px;
    left: 425px;
    top: 500px;
    position: absolute;
}

.fil p {
    margin-left: 100px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.fil {
    margin-left: 100px;
    text-decoration: none;
}

#add_section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 1325px;
    border-radius: 10px;
    background-color: #ffa31a;
    border: none;
    color: white;
    padding: 10px 32px;
    height: 46px;
    bottom: -61;
    font-size: 16px;
    font-weight: bold;
}

.section {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 900;
    margin: auto;
    margin-top: 280px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section h2 {
    text-align: center;
    margin-bottom: 26;
    font-size: 50px;
}

.section-header {
    margin-bottom: 60px;
    padding-top: 40px;
}

.sect0:hover,
.sect1:hover,
.sect2:hover,
.sect3:hover,
.sect4:hover,
.sect5:hover {
    font-size: 22px;
    background-color: gray;
}


/*cards*/

.section-cards {
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
    margin: auto;
}

.column {
    float: left;
    width: 340px;
    padding: 10px 10px;
}

.row {
    margin: 0 -5px;
}

.text {
    color: black;
    background-color: white;
    margin-top: 100px;
    margin-left: -15;
    width: 331px;
    height: 115.391;
}

.text p {
    font-size: 20px;
}

.text h3 {
    margin-top: 18.4;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section_A {
    background-color: #799FCB;
}

.section_B {
    background-color: #FEC9C9;
}

.section_C {
    background-color: #D4EBD4;
}

.section_D {
    background-color: #E0CAED;
    margin-bottom: 50px;
}

.setting-icon {
    position: absolute;
    height: 30px;
    margin-left: 120px;
    margin-top: 10px;
}

.footer {
    background-color: #ededed;
    height: 150px;
    width: 1903px;
    margin-top: 40%;
    padding: 0;
    display: inline-block;
}

.footer h2,
h1 {
    display: inline-block;
}

.footer h1 {
    position: absolute;
    margin-top: 12.44;
}

.footerText {
    color: gray;
}

.additional {
    text-align: center;
    font-size: 20px;
    color: gray;
}

object {
    float: right;
    margin: 12.44;
    width: 48px;
    height: 48px;
}

.fourth {
    margin-right: 10%;
}


/* The Modal/Section (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 180px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    font-size: 25px;
    font-weight: bold;
}

.modal-content input {
    background-color: #fff;
    width: 400px;
    height: 50px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    border-color: rgb(170, 167, 167);
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffa31a;
    color: white;
}

.section-details {
    margin-left: 25%;
}

.create-button {
    height: 50px;
    width: 250px;
    margin-left: 13%;
    background-color: #ffa31a;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    border: none;
}


/* The Close Button */

.close {
    color: #fff;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sec div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: #ffa31a;
    border-radius: 10px;
}

.sec div p {
    color: black;
    background-color: white;
    margin-top: 100px;
    margin-left: -15;
    width: 331px;
    height: 115.391;
}

.sect0 {
    position: absolute;
    left: 390px;
    top: 580px;
    background-color: red;
}

.sect1 {
    position: absolute;
    left: 790px;
    top: 580px;
}

.sect2 {
    position: absolute;
    left: 1190px;
    top: 580px;
}

.psect {
    margin-top: -110px;
    padding-bottom: 110px;
    color: black;
}