body {
    margin: 0;
    padding: 0;
    background-color: black;
}


/*header*/

.header {
    background-color: #1b1b1b;
}

.logo2 {
    width: 170px;
    height: 60px;
    margin-left: 290;
}

.content {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 270px;
    width: 1080px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5px;
}


/*section*/

.section {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: auto;
    color: white;
    border-style: solid;
    border-width: 2px 2px;
    border-color: #1b1b1b;
}

.section-header input[type=text] {
    display: inline;
    float: right;
}


/*cards*/

.section-cards {
    margin-top: 25px;
    color: black;
    margin-bottom: 50px;
}

.column {
    float: left;
    width: 250px;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
}