body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


/*header*/

.header {
    background-color: #1b1b1b;
}

.logo2 {
    width: 170px;
    height: 60px;
    margin-left: 290;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 270px;
    width: 1080px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5px;
}


/*section*/

.section {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 700px;
    margin: auto;
    color: white;
    border-top-right-radius: 8%;
    border-bottom-left-radius: 8%;
    border-style: solid black;
    border-width: 2px 2px;
    background-color: 1b1b1b;
}

.section-header h2 {
    text-align: center;
}

.section-header input[type=text] {
    float: right;
    width: 210px;
    margin-right: 5px;
    border-color: gray;
    padding: 8px 8px;
}

h2 {
    margin-top: 5%;
    margin-left: 7%;
}


/*cards*/

.section-cards {
    margin-top: 25px;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.column {
    float: left;
    width: 340px;
    padding: 10px 10px;
}

.row {
    margin: 0 -5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section_A {
    background-color: #FF7575;
}

.section_B {
    background-color: #6A6AFF;
}

.section_C {
    background-color: #27DE55;
}

.section_D {
    background-color: #BF00BF;
}

.text {
    color: black;
    background-color: white;
    margin-top: 100px;
    margin-left: -15;
    width: 331px;
    height: 115.391;
    border-radius: 0px 0px 10px 10px;
}

.section_D:hover,
.section_C:hover,
.section_B:hover,
.section_A:hover {
    font-size: 22px;
    background-color: gray;
}

.footer {
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding: 1%;
}