body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}


/*header*/

.header {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    height: 85px;
    margin: 0;
    padding: 0;
}

.header h2 {
    display: inline-block;
}

.logo2 {
    width: 82px;
    height: 64px;
    margin-left: 82px;
    margin-top: 10;
    display: inline-block;
}

.content {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 270px;
    width: 1080px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5px;
}


/*section*/

.search {
    margin-left: 20px;
    width: 240px;
}

.search input {
    background-color: #fff;
    display: inline-block;
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.search img {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-bottom: -8;
}

.section {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 700px;
    margin: auto;
    margin-top: 25px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section h2 {
    text-align: center;
}


/*cards*/

.section-cards {
    margin-top: 25px;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.column {
    float: left;
    width: 340px;
    padding: 10px 10px;
}

.row {
    margin: 0 -5px;
}

.text {
    color: black;
    background-color: white;
    margin-top: 100px;
    margin-left: -15;
    width: 331px;
    height: 115.391;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section_A {
    background-color: #FF7575;
}

.section_B {
    background-color: #6A6AFF;
}

.section_C {
    background-color: #27DE55;
}

.section_D {
    background-color: #BF00BF;
}